.featured-header {
	display: flex;
    align-items: center;
	background: #40c8b2 url(../img/slider-texture.png) repeat;
    height: 70px;
}

.featured-header h2 {
	font-family: 'Oswald', sans-serif;
	color: white;
	margin-left: 250px;
}

.featured-table {
	height: 690px;
}